
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.main-header {
    background-color: #3498db;
    color: black;
    padding: 15px 20px;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-header h1 {
    margin: 0;
    font-size: 1.8em;
}

.main-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-header nav ul li {
    margin-left: 20px;
}

.main-header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.main-header nav ul li a:hover {
    text-decoration: underline;
}

.form-section {
    margin: 100px auto 20px;
    width: 100%;
    max-width: 500px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 1.7em;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.main-footer {
    text-align: center;
    padding: 15px;
    background-color: #3498db;
    color: black;
    margin-bottom: 0px;
    margin-top: auto;
}